.image-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-detail {
  background-color: rgba(182, 182, 182, 0.2);
}

.img-preview {
  width: 150px;
  height: 150px;
  margin: 15px;
}
